# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables / Secrets
.env
.env.*

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Local development
*.sqlite3

# Terraform (falls du später wieder damit arbeitest)
*.tfstate
*.tfstate.*
.terraform/

# Ansible
*.retry

# Secrets
credentials.auto.tfvars
secrets.yml